/* 
    Document   : static
    Created on : 15 Mar, 2012, 1:27:53 PM
    Author     : chetan
    Description:
        Purpose of the stylesheet follows.
*/

body
{
    text-align:center;
    margin: 10 auto;
    width:80%;
    overflow:auto;
    height:80%;
}


#banner
{
    width: 100%;
    margin-top:5px;
    color:blue;
    font-size:200%;
    font-family:Verdana, Geneva, sans-serif;
    font-style:normal;
}


#content-wrapper
{
    position:relative;
    width: 100%;
    height:100%;
}


#sidebar
{
    width: 18%;
    height:100%;
    float: left;
    background-color: #99FF99;
    border-radius: 20px;
    border: 2px;
    border-color: #99FF99;
    alignment-adjust: central;
    position:relative;
    overflow:auto;
}


#main-area
{
    width: 81%;
    height:100%; 
    float: right;
    background-color: #FD8;
    border-radius: 20px;
    border: 2px;
    border-color: #99FF99;
    position:relative;
    overflow:auto;
}


.thumbnails
{
    display:block;
    margin-left:40%;
    margin-top:7%;
    width:40px;
    height:40px;
    border: 2px solid #000000;
}


.highlightedthumbnail
{
    width:80px;
    height:80px;
    margin-left:35%;
    margin-top:8%;    
}


.thumbnailName
{
    display:block;
    height:20px;
    font-size:125%;
    font-weight:bolder;
    padding-left:15px;
    margin-top:1%;    
}


#subCategoryWrapper
{
    position:absolute;
    width:100%;
    margin-top:5px;
}


#subCategory
{
    height:50px;
    margin-top:5px;
    width:100%;
    position:absolute;
    top:40px;
    overflow:auto;
}


#fileSelector
{
    overflow:auto;
    position:absolute;
    top:100px;
    left:10px;
    width:90%
}


#fileNameList
{
    height:390px;
    float:left;
    overflow:auto;
    width:70%;
    position:relative;
}


#yearMonth
{
    display:inline-block;
    float:right;
    position:relative;
}


#year
{
    margin-right:15px;
}


.subtypeclass
{
    display:inline;
    margin-left:20px;
    margin-right:20px;
    margin-bottom:10px;
    height:35px;
    border: 2px solid #000000;
    font-size:125%;
    font-family:sans-serif;
    color:black;
    background-color:#33CCFF;
    border-radius: 15px;
    padding-left:10px;
    padding-right:10px;
}


.file
{
    margin-top:1px;
    margin-bottom:1px;
    margin-left:1px;
    margin-right:1px;
    height:20px;
    display:block;
    color:#000000;
    background-color:#99FF99;
    padding:15px;
    text-align:left;
    margin:5px;
}


.filenamebutton span
{
    padding-top:10px;
    padding-bottom:10px;
}


.toolTip {
    background-color:yellow;
    padding: 10px;
    color: blue;
    cursor:pointer;
    position: relative;
    border-radius:10px;
    margin-left:15px;
    display:inline;
}


.years
{
    display:inline;
    margin-top:1px;
    margin-bottom:1px;
    width:50px;
    height:30px;
    border: 2px solid #000000;
    font-size:100%;
    color:#000000;
    background-color:#99FF99;
    border-radius: 15px;
}


.months
{
    display:inline;
    margin-top:1px;
    margin-bottom:1px;
    width:50px;
    height:30px;
    border: 2px solid #000000;
    font-size:100%;
    color:#000000;
    background-color:#99FF99;
    border-radius: 15px;
}	


.headingForType
{
    display:block;
    color:blue;
    font-size:220%;
    text-align:center;	
}
