/* 
    Document   : static
    Created on : 15 Mar, 2012, 1:27:53 PM
    Author     : chetan
    Description:
        Purpose of the stylesheet follows.
*/

#wrapper
{
    width: 950px;
    margin: auto;
}
#content-head
{
    width: 100%;
    text-align: center;
}
#content-wrapper
{
    width: 100%;
}
#sidebar
{
    width: 20%;
    float: left;
    background-color: #99FF99;
    border-radius: 20px;
    border: 2px;
    border-color: #99FF99;
    padding-top: 20px
}
#main-area
{
    width: 80%;
    float: right;
    background-color: #FD8;
    border-radius: 20px;
    border: 2px;
    border-color: #99FF99;
}
.thumbnails
{
    display:inline;
    margin-left:25px;
    margin-right:25px;
    margin-bottom:25px;
    width:100px;
    height:100px;
    border: 2px solid #000000;
}


.subtype
{
    display:inline;
    margin-left:25px;
    margin-right:25px;
    margin-bottom:25px;
    width:125px;
    height:30px;
    border: 2px solid #000000;
    font-size:100%;
    color:#000000;
    background-color:#33FFFF;
}


.file
{
    display:inline;
    margin-top:1px;
    margin-bottom:1px;
    width:250px;
    height:30px;
    border: 2px solid #000000;
    font-size:100%;
    color:#000000;
    background-color:#99FF99;
}


.years
{
    display:inline;
    margin-top:1px;
    margin-bottom:1px;
    width:50px;
    height:30px;
    border: 2px solid #000000;
    font-size:100%;
    color:#000000;
    background-color:#99FF99;
}


.months
{
    display:inline;
    margin-top:1px;
    margin-bottom:1px;
    width:50px;
    height:30px;
    border: 2px solid #000000;
    font-size:100%;
    color:#000000;
    background-color:#99FF99;
}	


.content-head
{
    display:inline;
    color:blue;
    font-size:400%;
}


.heading2
{
    display:inline;
    color:blue;
    font-size:400%;
}
